.devicetable {
    margin: 15px;
    background: var(--bg-white);
    padding: 15px;
    border-radius: 15px;
    padding-bottom: 10px;
}

.devicetable__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}