:root {
    --primary-background: #f1f1f1;
    --secondary-background: #dadada;
    --primary-color: #1c4e80;
    --secondary-color: #0091d5;

    --bg-white: #ffffff;
    --bg-dark: #202020;
    --bg-gray: #7e909a;
    --bg-light: #a5d8dd;
    --bg-warning: #ea6a47;
    --bg-info: #6ab187;
    --bg-nav : #3c40c6;

    --text-white: #ffffff;
    --text-dark: #202020;
    --text-gray: #7e909a;
    --text-light: #a5d8dd;
    --text-warning: #ea6a47;
    --text-info: #6ab187;

    --bg-hover : #E3F2FD;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
}
